---
http_interactions:
- request:
    method: get
    uri: http://api-sb.netprospex.com/1.1/industries.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<NETPROSPEX_KEY>", oauth_nonce="bd8ee1cf960dd03755bac6ccb675b943",
        oauth_signature="VlPqW3NoDFfyrp7xwJTLeQ5zXcs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1366301817", oauth_token="bad", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"response":{"version":"1.1","responseId":"CADF5480-F4D4-8684-9A63-104D7F7EA2E2","responseType":"error","request":{"startTime":"2013-04-18
        12:16:58","requestType":"industries","url":"\/1.1\/industries.json","userId":null},"transaction":{"accountId":null,"accountStartBalance":null,"accountEndBalance":null},"error":{"message":"Invalid
        access token: bad","code":"AUTH"},"debug":{"requestTime":0.00708293914795}}}'
  recorded_at: Thu, 18 Apr 2013 16:16:58 GMT
recorded_with: VCR 2.4.0
