---
http_interactions:
- request:
    method: get
    uri: http://api.netprospex.com/1.1/industries.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<NETPROSPEX_KEY>", oauth_nonce="e2f78d2a1b3a6fecf08199d2947a6e4b",
        oauth_signature="EIDTMR0T2Sv3dvAY9C%2BWpEBlD5k%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1366216725", oauth_token="<NETPROSPEX_USER_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"response":{"version":"1.1","responseId":"E2736CB6-1E6A-98E8-F138-F94C70E2D3FD","responseType":"industries","request":{"startTime":"2013-04-17
        12:38:45","requestType":"industries","url":"\/1.1\/industries.json","userId":"d5c72b79-a2ed-11e2-8c42-00259059ba92"},"transaction":{"accountId":"d5c51e5f-a2ed-11e2-8c42-00259059ba92","accountStartBalance":7493,"accountEndBalance":7493},"industries":{"preview":0,"count":13,"limit":0,"offset":0,"calcFoundRows":null,"foundRows":13,"data":{"61":{"id":"61","name":"Agriculture","parent_id":null,"sub_industries":[{"id":"62","name":"Animals
        & Livestock","parent_id":"61"},{"id":"131","name":"Crops","parent_id":"61"}]},"63":{"id":"63","name":"Business
        Services","parent_id":null,"sub_industries":[{"id":"64","name":"Human Resources
        & Staffing","parent_id":"63"},{"id":"78","name":"Information & Document Management","parent_id":"63"},{"id":"89","name":"Management
        Consulting","parent_id":"63"},{"id":"100","name":"Multimedia & Graphic Design","parent_id":"63"},{"id":"113","name":"[...]
