---
http_interactions:
- request:
    method: get
    uri: http://api.netprospex.com/1.1/person/list.json?offset=-1&organizationName=Pardot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<NETPROSPEX_KEY>", oauth_nonce="601b1144102ce1829afc216d8b4fa32f",
        oauth_signature="iD97QtskfcJzYtbK3HWYnWKDnpU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1366302156", oauth_token="<NETPROSPEX_USER_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"response":{"version":"1.1","responseId":"F0DDEF40-3F2E-D16C-CC19-2511A3538FD3","responseType":"error","request":{"startTime":"2013-04-18
        12:22:36","requestType":"person_list","url":"\/1.1\/person\/list.json?organizationName=Pardot&offset=-1","userId":"d5c72b79-a2ed-11e2-8c42-00259059ba92"},"transaction":{"accountId":"d5c51e5f-a2ed-11e2-8c42-00259059ba92","accountStartBalance":7120,"accountEndBalance":null},"error":{"message":"invalid
        pagination values limit=100, offset=-1","code":"PAG"},"debug":{"requestTime":0.0189089775085}}}'
  recorded_at: Thu, 18 Apr 2013 16:22:37 GMT
recorded_with: VCR 2.4.0
