---
http_interactions:
- request:
    method: get
    uri: http://api-sb.netprospex.com/1.1/person/list.json?organizationName%5B0%5D=Pardot&organizationName%5B1%5D=Silverpop
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<NETPROSPEX_KEY>", oauth_nonce="0c5f7b19c6ca7b96aedcc60faa841174",
        oauth_signature="fjmMdY51A%2BSJ03pneIxDaIu%2BwjA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1366229201", oauth_token="<NETPROSPEX_USER_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"response":{"version":"1.1","responseId":"CA0D9287-8178-CDBE-8033-309A1F74320E","responseType":"person_list","request":{"startTime":"2013-04-17
        16:06:42","requestType":"person_list","url":"\/1.1\/person\/list.json?organizationName%5B%5D=Pardot&organizationName%5B%5D=Silverpop","userId":"d5c72b79-a2ed-11e2-8c42-00259059ba92"},"transaction":{"accountId":"d5c51e5f-a2ed-11e2-8c42-00259059ba92","accountStartBalance":7493,"accountEndBalance":7420},"person_list":{"preview":0,"count":73,"limit":100,"offset":0,"calcFoundRows":1,"foundRows":73,"persons":[{"personId":85652828,"accuracyRating":{"phoneAccuracy":65},"prefix":"","firstName":"Reena","lastName":"Parekh","suffix":"","title":"Marketing
        Program Senior Coordinator","hierarchytitle":["MGR"],"functions":["Manager","General
        Marketing"],"email":"reena.shukla@pardot.com","phones":[{"label":"directPhone","countryCallingCode":1,"nationalNumber":"2899830965","formattedNumber":"1
        (289) 983-0965","extra":""},{"label":"mainOfficePhone","countryCallingCode":1,"nationalNumber":"4044926845","formattedNumber":"1
        (404) 492-6845","extra":""}],"postalAddress":{"formattedAddress":"950 E Paces
        Ferry Rdsuite 2440 Fl 24 Atlanta, GA 30326","address":"950 E Paces Ferry Rdsuite
        2440 Fl 24","address2":null,"city":"Atlanta","state":"GA","postalCode":"30326","country":"United
        States"},"organization":{"organizationId":2098405,"organizationName":"Pardot","postalAddress":{"formattedAddress":"","address":"","address2":"","city":"","state":"","postalCode":"","country":"United
        States"},"phones":[{"label":"organizationPhone","countryCallingCode":null,"nationalNumber":"","formattedNumber":"
        () -","extra":""}],"domains":{"domain":{"url":"http:\/\/www.pardot.com"}},"industries":{"247":"Other","250":"Other"},"revenueRange":"Less
        than $1 mil","employeeCountRange":"Less than 25"}},{"personId":45092120,"accuracyRating":{"phoneAccuracy":61},"prefix":"","firstName":"Laura","lastName":"Horton","suffix":"","title":"Marketing
        Manager","hierarchytitle":["MGR"],"functions":["Manager","General Marketing"],"email":"laura.horton@pardot.com","phones":[{"label":"directPhone","countryCallingCode":1,"nationalNumber":"4044926845","formattedNumber":"1
        (404) 492-6845","extra":""}],"postalAddress":{"formattedAddress":"950 E PACES
        FERRY RD NE STE 2440[...]
